<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">

      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>

    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1> Welcome Brothers. </h1>

  <h2>
  This is the test home page for the
  <a href="http://www.usfsigep.com/">SigEp Florida Iota </a>
  internal application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
	<h2> Sound Mind - Useful Links for Your Brain to Grow</h2>
<%= link_to image_tag("USF.png", alt: "University of South Florida"), 'http://rubyonrails.org/' %>

<%= link_to image_tag("CIO.png", alt: "CIO - Business, Technology, Leadership"), 'http://CIO.com/' %>

<%= link_to image_tag("BI.png", alt: "Business Insider"), 'http://businessinsider.com/' %>

<%= link_to image_tag("economist.png", alt: "The Economist"), 'http://economist.com/' %>

<%= link_to image_tag("sigep.png", alt:"SigEp National Fraternity"), 'http://sigep.org/'%>


<%= link_to image_tag("hbr.png", alt: "Harvard Business Review"), 'http://hbr.com/' %>

<%= link_to image_tag("mashable.png", alt: "Mashable"), 'http://mashable.com/' %>

<%= link_to image_tag("recode.png", alt: "RE/CODE"), 'http://recode.net/' %>

<%= link_to image_tag("TC.png", alt: "Tech Crunch"), 'http://techcrunch.com/' %>

<%= link_to image_tag("espn.png", alt: "ESPN"), 'http://espn.com/' %>

</div>
<% end %>
